[submodule "external/sdl3"]
	path = external/sdl3
	url = https://github.com/libsdl-org/SDL
	branch = release-3.4.x
[submodule "external/sdl3_net"]
	path = external/sdl3_net
	url = https://github.com/libsdl-org/SDL_net
[submodule "external/squirrel"]
	path = external/squirrel
	url = https://github.com/albertodemichelis/squirrel.git
